* {
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
  }

  .darkmode{
    background-color: black;
    color: white;
  }
 

  i.fa{
    font-size: 20px;
    cursor: pointer;
    user-select: none;
  }
  .fa:hover{
    color: gray;
  }
  
  
  
  
  /* div "menu" */
  header {
    font-size: 3em;
    /* O menu está sticky e ocupa 10vh da altura do viewport */
    height: 10vh; 
    
    top: 0;  
    
    display:flex;
    justify-content: space-between;  
  }
  
  nav {
    display:flex;
    justify-content: flex-end;  
  }
  
  
  nav a {
    display:block;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(163, 0, 0);
    
    
  }

  footer{
    height: 17vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 49, 49);
  }

  .footer{
    display:block;
    padding: 0 1em;
    text-decoration: none;
    font-size: 20px;
    
  }

  .alinhar{
    text-align: center;
  }

  .outro{
    background-color: aquamarine;
    height: 30vh;
    padding: 10px;
    margin: 5px;
  }

  div.detail-info-container > * {
    padding:10px;
    margin:5px;
  }
  .detail-info-container{
    position:relative;
  }
  .info{
    background-color: whitesmoke;
    display:none;
    position: absolute;
    z-index:2;
    width:calc(100% - 10px);
    top: calc(100%);
    left:0px;
    padding:10px 10px 10px 10px;
  }
  .titulo{
    background-color: khaki;
  }
  